ion-list {
  background: transparent;
  padding: 0;
}
ion-item {
  --background: transparent;
  --color: rgba(255, 255, 255, 0.7);
  --border-color: rgba(255, 255, 255, 0.05);
  --padding-start: 16px;
  --min-height: 48px;
  font-weight: 500;
  ion-icon {
    color: rgba(255, 255, 255, 0.5);
  }
  &.active {
    --color: white;
    --background: rgba(255, 255, 255, 0.1);
    ion-icon {
      color: white;
    }
  }
}
