<ion-list>
  <ion-item routerLink="/app/dashboard" routerLinkActive="active">
    <ion-icon slot="start" name="home-outline"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-item>
  <ion-item routerLink="/app/clients" routerLinkActive="active">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    <ion-label>Clientes</ion-label>
  </ion-item>
  <ion-item routerLink="/app/products" routerLinkActive="active">
    <ion-icon slot="start" name="cube-outline"></ion-icon>
    <ion-label>Productos</ion-label>
  </ion-item>
  <ion-item routerLink="/app/sales" routerLinkActive="active">
    <ion-icon slot="start" name="cart-outline"></ion-icon>
    <ion-label>Ventas</ion-label>
  </ion-item>
  <ion-item routerLink="/app/inventory" routerLinkActive="active">
    <ion-icon slot="start" name="grid-outline"></ion-icon>
    <ion-label>Inventario</ion-label>
  </ion-item>
  <ion-item routerLink="/app/reports" routerLinkActive="active">
    <ion-icon slot="start" name="document-text-outline"></ion-icon>
    <ion-label>Reportes</ion-label>
  </ion-item>
</ion-list>
