<ion-list>
  <ion-menu-toggle auto-hide="false" *ngFor="let item of menuItems">
    <ion-item [routerLink]="item.route" routerLinkActive="selected">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      <ion-label>{{ item.label }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<div class="user-info">
  <ion-avatar>
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-avatar>
  <ion-label>
    <h2>{{ user?.fullName }}</h2>
    <p>{{ user?.role }}</p>
  </ion-label>
</div>
