# Base de datos
DATABASE_URL="postgresql://postgres:password@localhost:5432/muebleria_igen_db?schema=public"

# JWT
JWT_SECRET="muebleria_igen"
JWT_EXPIRES_IN="8h"

# Servidor
PORT=3000
NODE_ENV="development"

# SMTP (correo)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=correo
SMTP_PASS=clave de verificacion de 2 pasos
SMTP_FROM=correo

# URL del frontend
FRONTEND_URL=http://localhost:4200