/* ============================================
   ESTILOS GLOBALES BASE DE IONIC (OBLIGATORIOS)
   ============================================ */
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/flex-utils.css';

/* ============================================
   RESET MÍNIMO
   ============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

ion-menu {
  --width: 260px;
}
